html, body {
    height: 100%;
}

body {
    background-image: url('images/background.jpg');
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

p {
    color: #333333;
    text-align: justify;
    text-justify: inter-word;
}

.joueur {
    color: #333333;
    font-weight: bold;
    text-align: center;
}